<ion-view title="Camera" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Q3YIqXVPRkCsFLODLyUC_CopyofDSC00604.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
    </div>
    <div>
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
    </div>
    <div id="camera-button-bar3" class="button-bar">
      <button id="camera-button18" style="font-weight:600;" class="button button-stable button-block">Library</button>
      <button id="camera-button21" class="button button-stable button-block">Photo</button>
      <button id="camera-button22" class="button button-stable button-block">Video</button>
    </div>
  </ion-content>
</ion-view>