<ion-view title="Heart" hide-nav-bar="true" id="page8" style="">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div id="heart-button-bar4" class="button-bar">
      <button id="heart-button23" class="button button-stable button-block">Following</button>
      <button id="heart-button27" style="font-weight:600;" class="button button-stable button-block border-bottom">You</button>
    </div>
    <ion-list id="heart-list2">
      <ion-item class="item-avatar item-icon-right" id="heart-list-item2" style="">
        <img src="img/JF0TpiuPQPiH16fRvDHJ_tes.jpg">
        <h2>nsync, tpain, and britney</h2>
        <p>liked your post. 11h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item3" style="">
        <img src="img/JF0TpiuPQPiH16fRvDHJ_tes.jpg">
        <h2>nsync, tpain, and britney</h2>
        <p>liked your post. 11h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item4" style="">
        <img src="img/JF0TpiuPQPiH16fRvDHJ_tes.jpg">
        <h2>nsync, tpain, and britney</h2>
        <p>liked your post. 11h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item5" style="">
        <img src="img/JF0TpiuPQPiH16fRvDHJ_tes.jpg">
        <h2>nsync, tpain, and britney</h2>
        <p>liked your post. 11h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item6" style="">
        <img src="img/JF0TpiuPQPiH16fRvDHJ_tes.jpg">
        <h2>nsync, tpain, and britney</h2>
        <p>liked your post. 11h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item7" style="">
        <img src="img/JF0TpiuPQPiH16fRvDHJ_tes.jpg">
        <h2>nsync, tpain, and britney</h2>
        <p>liked your post. 11h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="heart-list-item8" style="">
        <img src="img/JF0TpiuPQPiH16fRvDHJ_tes.jpg">
        <h2>nsync, tpain, and britney</h2>
        <p>liked your post. 11h</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>