<ion-view title="Home" id="page5" style="">
  <ion-content padding="false" class="has-header">
    <ion-list id="home-list1">
      <ion-item class="item-avatar item-icon-right" id="home-list-item1" ui-sref="tabsController.profile()" style="">
        <img src="img/Pp3MNfaTTa9XnIfzsBNC_tes.jpg">
        <h2>_hanchris</h2>
        <p>Jakarta &gt;</p>
        <i class="icon ion-android-more-horizontal"></i>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/Bto4lLHSKLLZS2hfsCxw_servletImg.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-button-bar2" class="button-bar">
      <button id="home-button7" class="button button-dark button-block button-clear icon ion-ios-heart-outline"></button>
      <button id="home-button10" class="button button-dark button-block button-clear icon ion-ios-chatbubble-outline"></button>
      <button id="home-button11" class="button button-dark button-block button-clear icon ion-ios-paperplane-outline"></button>
      <button id="home-button12" class="button button-dark button-block button-clear"></button>
      <button id="home-button13" class="button button-dark button-block button-clear"></button>
      <button id="home-button14" class="button button-dark button-block button-clear icon ion-ios-flag-outline"></button>
    </div>
    <div id="home-markdown1" class="show-list-numbers-and-dots padding">
      <p style="color:#000000;">♥
        <strong>432,342 likes</strong>
        <br>This is me, Han Chris Hartono</p>
    </div>
  </ion-content>
</ion-view>