<ion-view title="Profile" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list3">
      <ion-item class="item-avatar" id="profile-list-item9" style="">
        <img src="img/EtqGuFxIQomfqhMOBSgJ_tes.jpg">
      </ion-item>
    </ion-list>
    <div id="profile-button-bar5" class="button-bar">
      <button id="profile-button31" class="button button-stable button-block icon ion-grid"></button>
      <button id="profile-button35" class="button button-stable button-block icon ion-ios-list-outline"></button>
      <button id="profile-button36" class="button button-stable button-block icon ion-ios-person-outline"></button>
      <button id="profile-button37" class="button button-stable button-block icon ion-ios-book-outline"></button>
    </div>
  </ion-content>
</ion-view>