<ion-view title="Search" hide-nav-bar="true" id="page6" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="search-form1" class="list">
      <label class="item item-input" id="search-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="" type="search">
      </label>
    </form>
    <div>
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">

    </div>
    <div>
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">

    </div>
    <div>
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">
      <img src="http://genesys.greatgiantfoods.com/ggfportal/servletImg?profPicPath=/media/sf6/client/great/upload/emp_photos/201705/DO1720836_13266.jpg" width="32%">

    </div>
  </ion-content>
</ion-view>